app_chrome
app_ios_extension
app_firefox
app_safari
app/src/coverage


# ROOT
node_modules
.turbo
build
dist

#OLD FOLDERS
./app
./app_ios
./backend
./webpage

.vscode

# NATIVE
native/app_ios/wtm/wtm.xcodeproj/xcuserdata/
