<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>method</key>
    <string>development</string>
    <key>teamID</key>
    <string>L7B5V7W6H3</string>
    <key>provisioningProfiles</key>
    <dict>
        <key>com.yourCompany.Web-Time-Machine</key>
        <string>match Development com.yourCompany.Web-Time-Machine</string>
        <key>com.yourCompany.Web-Time-Machine.Extension</key>
        <string>match Development com.yourCompany.Web-Time-Machine.Extension</string>
    </dict>
</dict>
</plist>
