<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>method</key>
    <string>development</string>
    <key>teamID</key>
    <string>2858MX5336</string>
    <key>provisioningProfiles</key>
    <dict>
        <key>com.ttt246llc.wtm</key>
        <string>Web Time Machine Prov Profile Dev</string>
        <key>com.ttt246llc.wtm.Extension</key>
        <string>Web Time Machine Prov Profile Dev Extension</string>
    </dict>
</dict>
</plist>
