/* Add some basic styling */

* {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;

}

html,
body {
  padding: 0px;
  margin: 0px;
  min-width: 350px;
}

body {
  position: relative;
}

h1 {
  margin-block: 0px;
}

h4 {
  margin-block: 8px;
}


.list-container {
  width: 500px;
  overflow-y: scroll;
  min-height: 440px;
  max-height: 460px;
  padding: 4px 8px 0px 8px;
  border-top: solid 1px rgba(0, 0, 0, 0.23);
  display: none;
}

.list-container img {
  width: 16px;
  height: 16px;
  padding-left: 8px;
  cursor: pointer;
}


#sites-list img {
  display: flex;
}

.list-container p {
  margin-block-start: 0px;
  margin-block-end: 0px;
}

.list-container a {
  display: flex;
  align-items: center;
  justify-content: start;
  flex-direction: row-reverse;
  list-style-type: none;
  cursor: pointer;
  transition: 300ms;
  color: black;
  text-decoration: none;
  font-size: 12px;
  width: 95%;
  max-width: 400px;
}

.list-container li:hover {
  background-color: rgba(72, 72, 72, 0.027);
}

.list-container div {
  justify-content: space-between;
  align-items: center;
  background-color: white;
  border-radius: 6px;
}

.list-container div:not(.query-header, .results, #sites-list, .search-container) {
  margin-top: 8px;
  padding: 8px;
}

#sites-list {
  padding: 8px;
}

.results {
  padding: 8px;
}

#sites-list div,
.search-container {
  flex-grow: 1;
  display: flex;
}

#sites-list div {
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.23);
}

input[type="text"],
input[type="number"] {
  padding: 8px;
  border: solid 1px transparent;
  border-radius: 6px;
  border: solid 1px rgba(0, 0, 0, 0.112);
  background-color: rgba(0, 133, 249, 0);
  width: 75%;
  box-shadow: 0px 0px 80px rgba(14, 22, 27, 0.193);
}

button {
  background-color: rgba(96, 96, 96, 0.694);
  color: rgb(237, 243, 255);
  border: none;
  outline: none;
  padding: 8px;
  border-radius: 6px;
}

input[type="checkbox"]:checked::before {
  transform: scale(1);
}

input[type="checkbox"]:hover {
  color: black;
}

input[type="checkbox"]::before {
  content: "";
  width: 1em;
  height: 1em;

  clip-path: polygon(45.25% 66.6%, 97% 3.25%, 48% 90.38%, 8.55% 53.64%);

  transform: scale(0);
  background-color: white;
}

input[type="checkbox"]:checked {
  background-color: blue;
}

input[type="checkbox"] {
  cursor: pointer;
  appearance: none;
  -webkit-appearance: none;
  display: flex;
  font-size: 2rem;
  margin: 0 0.5rem 0 0.5rem;
  background-color: #eee;
}


label {
  cursor: pointer;
}

.list-container .truncate {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.list-container .date {
  font-size: 0.8em;
  color: #0000007c;
  /* Bootstrap primary color for example */
  padding: 2px 4px;
  border-radius: 4px;
  margin-top: 4px;
  width: fit-content;
  align-self: flex-start;
}

.loader {
  padding: '8px 0px';
  border: 8px solid #f3f3f3;
  border-top: 8px solid #666;
  border-radius: 50%;
  width: 60px;
  height: 60px;
  animation: spin 2s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

.pagination-container {
  display: none;
  width: 100%;
  justify-content: space-around;
  padding-top: 8px;
  margin-bottom: 8px;
}

.pagination-container button {
  width: 56px;
  cursor: pointer;
}

.pagination-container button:disabled {
  background-color: #DDD;
  cursor: not-allowed;
}

#loader-container {
  display: flex;
  align-items: center;
  justify-content: center;
  left: 38%;
  top: 40%;
  position: absolute;
}

.title-icon {
  width: 20px;
  height: 20px;
  cursor: pointer;
}

#logout-button {
  padding-left: 8px;
}

.title-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 4px 8px;
}

.search-container {
  padding: 0 10px 0 10px;
  display: flex;
  margin-top: 8px;
}

#user-connected {
  padding: 4px 8px 1px 8px;
  font-size: 11px;
  color: #666
}

#backend-connected {
  padding: 1px 8px 4px 8px;
  margin-bottom: 4px;
  font-size: 11px;
  color: #666
}

.no-records {
  display: flex;
  justify-content: center;
  padding-top: 16px;
}

/* The switch - the box around the slider */
.switch {
  position: relative;
  display: inline-block;
  width: 30px;
  height: 17px;
}

/* Hide default HTML checkbox */
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 13px;
  width: 13px;
  left: 2px;
  bottom: 2px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked+.slider {
  background-color: #2196F3;
}

input:focus+.slider {
  box-shadow: 0 0 1px #2196F3;
}

input:checked+.slider:before {
  -webkit-transform: translateX(13px);
  -ms-transform: translateX(13px);
  transform: translateX(13px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 17px;
}

.slider.round:before {
  border-radius: 50%;
}

#tab-container {
  margin: 10px 10px 0 10px;
}

#tab-container button {
  display: inline;
  border-radius: 6px 6px 0 0;
  color: grey;
  background-color: #eee;
}

.tab-active {
  color: white !important;
  background-color: rgba(0, 0, 0, 0.50) !important;
}

.visible {
  display: block;
}

.hidden {
  display: none;
}

.visible-flex {
  display: flex;
}

#queries-list>div>p {
  padding: 5px;
  margin-bottom: 10px;
}

#queries-list>div {
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.23);
}

#queries-list div div:not(.query-header, .results) {
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.23);
}

.query-header {
  flex-grow: 1;
  display: flex;
}