name: Prisma Migrate

on:
  push:
    branches:
      - main

jobs:
  prisma-migrate:
    runs-on: ubuntu-latest

    env:
      PORT: ${{ secrets.PORT }}
      DATABASE_URL: ${{ secrets.DATABASE_URL }}
      DATABASE_URL_NON_POOLING: ${{ secrets.DATABASE_URL_NON_POOLING }}
      BCRYPT_SALT: ${{ secrets.BCRYPT_SALT }}
      CRYPTO_SALT: ${{ secrets.CRYPTO_SALT }}
      CRYPTO_KEY: ${{ secrets.CRYPTO_KEY }}
      JWT_ACCESS_SECRET: ${{ secrets.JWT_ACCESS_SECRET }}
      JWT_ACCESS_EXPIRATION: ${{ secrets.JWT_ACCESS_EXPIRATION }}
      JWT_REFRESH_SECRET: ${{ secrets.JWT_REFRESH_SECRET }}
      JWT_REFRESH_EXPIRATION: ${{ secrets.JWT_REFRESH_EXPIRATION }}
      EMAIL_URI: ${{ secrets.EMAIL_URI }}

    steps:
      - name: Checkout Repository
        uses: actions/checkout@v2

      - name: Set up Node.js
        uses: actions/setup-node@v4
        with:
          node-version: 18.16

      - name: Install Dependencies
        run: npm install

      - name: Run Prisma Migrate
        run: npx prisma migrate dev
